<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm"  autocomplete="off" novalidate (ngSubmit) = "login(loginForm.value)">
    <div class="form-group" >
      <label for="userName">User Name:</label>
       <input (ngModel)="username" name="userName" id="userName" type="text" required class="form-control" placeholder="User Name..." />
       <em *ngIf = " (loginForm.controls.userName?.touched || mouseOverLogin ) && loginForm.controls.userName?.invalid" >Required</em>
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <input (ngModel)="password" name="password" required id="password" type="password" required class="form-control"placeholder="Password..." />
      <em *ngIf = " (loginForm.controls.password?.touched || mouseOverLogin) && loginForm.controls.password?.invalid" >Required</em>
    </div>
    <div class="form-group">
      <login-secondary #loginsub ></login-secondary>
    </div>
       <span (mouseenter) ="mouseOverLogin = true" (mouseleave) = "mouseOverLogin = false">
      <button type="submit" [disabled]="loginForm.invalid  || loginsub.checkFormValidity()" class="btn btn-primary">Login</button>
    </span>
  
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
</div>