<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm"  autocomplete="off" novalidate >
    <div class="form-group" >
      <label for="userName">User Name:</label>
       <input (ngModel)="username" name="userName" id="userName" type="text" required class="form-control" placeholder="User Name..." />
       <em *ngIf = " (loginForm.controls.userName?.touched || mouseOverLogin ) && loginForm.controls.userName?.invalid" >Required</em>
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <input (ngModel)="password" name="password" required id="password" type="password" required class="form-control"placeholder="Password..." />
      <em *ngIf = " (loginForm.controls.password?.touched || mouseOverLogin) && loginForm.controls.password?.invalid" >Required</em>
    </div>
       
  </form>
</div>